################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PriceCalculator/bin
/PriceCalculator/obj
